/**
 * MUI Reboot
 */

// ============================================================================
// GLOBAL
// ============================================================================

// Reset box sizing
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

// Body reset
html {
  font-size: 10px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  font-family: $mui-base-font-family;
  font-size: $mui-base-font-size;
  font-weight: $mui-base-font-weight;
  line-height: $mui-base-line-height;
  color: $mui-base-font-color;
  background-color: $mui-body-bg-color;
}

@if $mui-base-font-smoothing == true {
  html,
  body,
  button,  // safari issue
  input,  // safari issue
  textarea {  // safari issue
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
  }
}




// ============================================================================
// TAG STYLES
// ============================================================================

// Links
a {
  color: $mui-link-font-color;
  text-decoration: $mui-link-text-decoration;

  &:hover,
  &:focus {
    color: $mui-link-font-color-hover;
    text-decoration: $mui-link-text-decoration-hover;
  }

  &:focus {
    @include mui-tab-focus();
  }
}
